<!--main page after the successful login-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atlanta Food Finder</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static 'script.js' %}" defer></script>
  </head>

  <body>
    <header class="header">
      <img
        src="{% static 'Logo.png' %}"
        width="70"
        height="70"
        style="margin-right: 0px; margin-top: -14px"
      />
      <!--<a href="#Home" class="logo"> <span> Atlanta Food Finder </span></a>-->

      <a href="#Home" class="logo" style="margin-left: -200px">
        <span> Atlanta Food Finder </span></a
      >

      <tag class="navbar"></tag>
      <nav class="navbar">
        <a href="#Home">Home</a>
        <a href="#Recommended">Recommended</a>
        <img
          src="{% static 'profil pic icon.png' %}"
          width="40"
          height="40"
          style="float: right; margin-left: 10px; margin-top: -14px"
        />
        <a href="#profile">Profile</a>
      </nav>
    </header>

    <div class="search-container">
        <form action="/search" method="get">
            <input type="text" placeholder="Search..." name="q" class="search-input">
            <button type="submit" class="search-btn">Search</button>
        </form>
    </div>


    <section class="Home" id="Home">
      <div class="home-content">
        <h1>Find the Perfect Spot in Atlanta</h1>
        <style>
          h1 {
            text-align: center;
            padding: 0px 0px 10px;
          }
        </style>

        <div id="map" style="height: 500px; width: 100%"></div>
      </div>
    </section>

    <section class="Recommended" id="Recommended">
      <div class="menu-section _content">
        <div
          id="tabpanel01"
          role="tabpanel"
          aria-labelledby="tab01"
          class="tab-content-column tabcontent"
        >
          <div class="menu grid">
            <!-- User Profile 1 -->
            <div class="user-profile">
              <img
                src="{% static '3.png' %}"
                alt="Product Image"
                class="user-profile_image"
              />
              <div class="columnrating">
                <div class="user-profile_description">
                  <h3 class="ui heading size-headingxl">
                    Atlanta Breakfast Club
                  </h3>

                  <div class="user-profile_pricing">
                    <h4 class='heart-icon bx bxs-heart'> </h4>


                  <p class="user-profile_text ui text size-texts">
                    This is our top reccommended restaurant for you! 
                    Check out the place and leave a review or 
                    add to Favourites
                  </p>
                </div>
                <div class="rating-container">
                  <div class="star-rating" data-rating="4.3"><!--4.3-->
                    <div class="star" data-value="1"></div>
                    <div class="star" data-value="2"></div>
                    <div class="star" data-value="3"></div>
                    <div class="star" data-value="4"></div>
                    <div class="star" data-value="5"></div>
                    <span class="rating-value">4.3</span>
                  </div>
                </div>

                
                  <button
                    class="user-profile_button ui button red size-xl fill"
                  >
                    Order now
                  </button>
                </div>
              </div>
            </div>

            <!-- User Profile 2 -->
            <div class="user-profile">
              <img
                src="{% static '2.png' %}"
                alt="Product Image"
                class="user-profile_image"
              />
              <div class="columnrating">
                <div class="user-profile_description">
                  <h3 class="ui heading size-headingxl">The Optimist</h3>

                  <div class="user-profile_pricing">
                    <h4 class='heart-icon bx bxs-heart'> </h4>

                  <p class="user-profile_text ui text size-texts">
                    This is our top reccommended restaurant for you! 
                    Check out the place and leave a review or 
                    add to Favourites
                  </p>
                </div>
                <div class="rating-container">
                  <div class="star-rating" data-rating="3.5"><!--4.5-->
                    <div class="star" data-value="1"></div>
                    <div class="star" data-value="2"></div>
                    <div class="star" data-value="3"></div>
                    <div class="star" data-value="4"></div>
                    <div class="star" data-value="5"></div>
                    <span class="rating-value">3.5</span>
                  </div>
                </div>

                
                  <button
                    class="user-profile_button ui button red size-xl fill"
                  >
                    Order now
                  </button>
                </div>
              </div>
            </div>

            <!-- User Profile 3 -->
            <div class="user-profile">
              <img
                src="{% static '1.png' %}"
                alt="Product Image"
                class="user-profile_image"
              />
              <div class="columnrating">
                <div class="user-profile_description">
                  <h3 class="ui heading size-headingxl">Ecco Midtown</h3>
                  <div class="user-profile_pricing">
                    <h4 class='heart-icon bx bxs-heart'> </h4>

                  <p class="user-profile_text ui text size-texts">
                    This is our top reccommended restaurant for you! 
                    Check out the place and leave a review or 
                    add to Favourites
                  </p>
                </div>
                <div class="rating-container">
                  <div class="star-rating" data-rating="4.6"><!--4.8-->
                    <div class="star" data-value="1"></div>
                    <div class="star" data-value="2"></div>
                    <div class="star" data-value="3"></div>
                    <div class="star" data-value="4"></div>
                    <div class="star" data-value="5"></div>
                    <span class="rating-value">4.6</span>
                  </div>
                </div>
                
                  <button
                    class="user-profile_button ui button red size-xl fill">
                    Order now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
