<!--main page after the successful login-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atlanta Food Finder</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static 'script.js' %}" defer></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLBtkghppVDE_9Sh29rCdHFIJOkq9F8V0&libraries=places&callback=initMap">
    </script>

  </head>

  <body>
    <header class="header">
      <img
        src="{% static 'Logo.png' %}"
        width="70"
        height="70"
        style="margin-right: 0px; margin-top: -14px"
      />
      <!--<a href="#Home" class="logo"> <span> Atlanta Food Finder </span></a>-->

      <a href="{% url 'home' %}" class="logo" style="margin-left: 80px; position: fixed;">
        <span> Atlanta Food Finder </span></a
      >

      <tag class="navbar"></tag>
      <nav class="navbar">
        <a href="{% url 'home' %}">Home</a;>
        <a href="#Recommended">Recommended</a>
        <img
          src="{% static 'profil pic icon.png' %}"
          width="40"
          height="40"
          style="float: right; margin-left: 10px; margin-top: -14px"
        />
        <a href="{% url 'profile' %}">Profile</a>
      </nav>
    </header>

    <div class="search-container">
        <form action="/search" method="get" style = "margin-left: 100px">
            <input type="text" placeholder="Search..." name="q" class="search-input">
            <button type="submit" class="search-btn">Search</button>
        </form>
    </div>


    <section class="Home" id="Home">
      <div class="home-content">
        <h1>Find the Perfect Spot in Atlanta</h1>
        <style>
          h1 {
            text-align: center;
            padding: 0px 0px 10px;
          }
        </style>

        <div id="map" style="height: 500px; width: 100%"></div>
      </div>
    </section>

    <section class="Recommended" id="Recommended">
      <div class="menu-section _content">
        <div
          id="tabpanel01"
          role="tabpanel"
          aria-labelledby="tab01"
          class="tab-content-column tabcontent"
        >
          <div class="menu grid">
            
            <div class="user-profile" id="restaurant-profile-1">
              <div id="restaurant-image-1"></div>
              <div class="columnrating">
                  <div class="user-profile_description">
                    <div class="name" style="height: 80px; display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
                      <h3 class="ui heading size-headingxl" id="restaurant-name-1">
                      </h3>
                    </div>
                      <div class="user-profile_pricing" style="margin-bottom: 10px;">
                          <p class="user-profile_text ui text size-texts" id="restaurant-description-1">
                          </p>
                      </div>
                      <div class="rating-container">
                          <div class="star-rating" data-rating="4.3" id="restaurant-rating-1">
                              <div class="star" data-value="1"></div>
                              <div class="star" data-value="2"></div>
                              <div class="star" data-value="3"></div>
                              <div class="star" data-value="4"></div>
                              <div class="star" data-value="5"></div>
                              <span class="rating-value" id="rating-value-1"></span>
                          </div>
                      </div>
                      <a id="details-button-1" class="details-button user-profile_button ui button red size-xl fill" href="#">
                        Detail
                      </a>
                  </div>
              </div>
            </div>
            
            <div class="user-profile" id="restaurant-profile-2">
              <div id="restaurant-image-2"></div>
              <div class="columnrating">
                  <div class="user-profile_description">
                    <div class="name" style="height: 80px; display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
                      <h3 class="ui heading size-headingxl" id="restaurant-name-2">
                      </h3>
                    </div>
                      <div class="user-profile_pricing" style="margin-bottom: 10px;">
                          <p class="user-profile_text ui text size-texts" id="restaurant-description-2">
                          </p>
                      </div>
                      <div class="rating-container">
                          <div class="star-rating" data-rating="4.3" id="restaurant-rating-2">
                              <div class="star" data-value="1"></div>
                              <div class="star" data-value="2"></div>
                              <div class="star" data-value="3"></div>
                              <div class="star" data-value="4"></div>
                              <div class="star" data-value="5"></div>
                              <span class="rating-value" id="rating-value-2"></span>
                          </div>
                      </div>
                      <a id="details-button-2" class="details-button user-profile_button ui button red size-xl fill" href="#">
                        Detail
                      </a>
                  </div>
              </div>
            </div>

            <div class="user-profile" id="restaurant-profile-3">
              <div id="restaurant-image-3"></div>
              <div class="columnrating">
                  <div class="user-profile_description">
                    <div class="name" style="height: 80px; display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
                      <h3 class="ui heading size-headingxl" id="restaurant-name-3">
                      </h3>
                    </div>
                    
                      <div class="user-profile_pricing" style="margin-bottom: 10px;">
                          <p class="user-profile_text ui text size-texts" id="restaurant-description-3">
                          </p>
                      </div>
                      <div class="rating-container">
                          <div class="star-rating" data-rating="4.3" id="restaurant-rating-3">
                              <div class="star" data-value="1"></div>
                              <div class="star" data-value="2"></div>
                              <div class="star" data-value="3"></div>
                              <div class="star" data-value="4"></div>
                              <div class="star" data-value="5"></div>
                              <span class="rating-value" id="rating-value-3"></span>
                          </div>
                      </div>
                      <a id="details-button-3" class="details-button user-profile_button ui button red size-xl fill" href="#">
                        Detail
                      </a>
                  </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <p>© 2024 Atlanta Food Finder. All rights reserved.</p>
    </footer>
  </body>
</html>
