<!--this page shows up once the user clicks "reset password" button from reset_password.html-->
<!--required fields: none-->
<!--required information: A password reset link has been sent to your email. Please note that the link will be active for 24 hours -->
<!Doctype html> 
<html>
    <br>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css"> 
        <title>Login</title> 
        <style>
            body{
                background-color: #FFF7EE;
            }
            div {
                text-align: center;
                position: relative;
                color: #4C8160;
            }
           p{
                font-size: 18.5px;
        
           }
        </style>
    </head>

    <body>
        <div style=margin-top:19%>
            <p> A password reset link has been sent to your email. Please note that the link will be active for 24 hours. </p>
        </div>
        
        </div>
        
    </body>
</html>