{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Profile - Atlanta Food Finder</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static 'script.js' %}" defer></script>
  </head>

  <script>
    const loginUrl = "{% url 'login' %}";
  </script>

  <body>
    <header class="header">
      <img
        src="{% static 'Logo.png' %}"
        width="70"
        height="70"
        style="margin-right: 0px; margin-top: -14px; border-radius: 0.5em"
      />
      <!--<a href="#Home" class="logo"> <span> Atlanta Food Finder </span></a>-->

      <a href="{% url 'home' %}" class="logo" style="margin-left: 100px; position: fixed;">
        <span><b> Atlanta Food Finder </b></span></a
      >

      <nav class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'home' %}#Recommended">Recommended</a>
        <img
          src="{% static 'profil pic icon.png' %}"
          width="40"
          height="40"
          style="float: right; margin-left: 10px; margin-top: -14px"
        />
        <a href="{% url 'profile' %}">Profile</a>
      </nav>
    </header>

    <section class="profile" id="profile" style="padding: 2%;">
      <h1 style="margin-bottom: 10px;">Welcome, {{ user.username }}</h1>
      <div class="profile-content" style="margin-bottom: 10px;">
          <div class="favorite-restaurants" style="padding: 1.5%; width: 60%;">
              <h2>Your Favorite Restaurants:</h2>
              {% if favorites %}
                  {% for favorite in favorites %}
                      <div class="user-profile" style="margin: 15px 0; padding: 20px; display: flex; justify-content: space-between; align-items: center;">
                          <h3>{{ favorite.restaurant.name }}</h3>
                          <a href="/detail/{{ favorite.restaurant.place_id }}/" class="details-button user-profile_button ui button red size-xl fill" style="display: inline-block; padding: 10px 15px;">View Details</a>
                      </div>
                  {% endfor %}
              {% else %}
                  <p>You have no favorite restaurants yet.</p>
              {% endif %}
          </div>
          
          <div class="past-comments" style="padding: 2%; width: 40%;">
              <h2>Your Past Comments:</h2>
              {% if comments %}
                  {% for comment in comments %}
                      <div class="user-profile" style="margin: 15px 0; padding: 20px;">
                          <h3>{{ comment.restaurant }}</h3>
                          <p>{{ comment.review }}</p>
                          <p>{{ comment.rating }}/5.0</p>
                          <p>{{ comment.subject }}</p>
                          <p>Posted on: {{ comment.created_at }}</p>
                      </div>
                  {% endfor %}
              {% else %}
                  <p>You have no reviews yet.</p>
              {% endif %}
              
          </div>
      </div>
      <button id="logoutBtn" class="user-profile_button ui button red size-xl fill">
        Logout
      </button>
    </section>
    <footer class="footer">
        <p>© 2024 Atlanta Food Finder. All rights reserved.</p>
    </footer>
  </body>
</html>
