{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Profile - Atlanta Food Finder</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static 'script.js' %}" defer></script>
  </head>

  <body>
    <header class="header">
      <img
        src="{% static 'Logo.png' %}"
        width="70"
        height="70"
        style="margin-right: 0px; margin-top: -14px"
      />

      <a href="{% url 'home' %}" class="logo" style="margin-left: 80px; position: fixed;">
        <span> Atlanta Food Finder </span></a
      >

      <nav class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'home' %}#Recommended">Recommended</a>
        <img
          src="{% static 'profil pic icon.png' %}"
          width="40"
          height="40"
          style="float: right; margin-left: 10px; margin-top: -14px"
        />
        <a href="{% url 'profile' %}">Profile</a>
      </nav>
    </header>

    <section class="profile" id="profile">
      <h1>Welcome, {{ user.username }}</h1>
      <h2>Your Favorite Restaurants:</h2>
      <style>
        h1 {
          margin-left: 50px;
          padding: 0px 0px 10px;
        }
        h2 {
          margin-left: 50px;
          padding: 0px 0px 10px;
          font-size: 20px;
          margin-bottom: 20px;
        }
      </style>
      <div class="menu grid"  style="margin-left: 50px">
      <div class="favorite-restaurants" style="padding: 10px" >
          {% if favorites %}
              {% for favorite in favorites %}
                <div class="user-profile" style="margin: 5px; padding: 20px;" >
                      <h3>{{ favorite.restaurant.name }}</h3>
                      <p>Location: {{ favorite.restaurant.vicinity }}</p> <!-- Assuming 'vicinity' is part of your restaurant model -->
                  </div>
              {% endfor %}
          {% else %}
              <p>You have no favorite restaurants yet.</p>
          {% endif %}
      </div>
    </div>
    </section>
    </main>


    <footer class="footer">
      <p>© 2024 Atlanta Food Finder. All rights reserved.</p>
    </footer>
  </body>
</html>
