<!--signup page-->
<!--required fields: first name, last name, username, email, password-->
<!--recommended: include a direct link to login.html (login) for if the user already has an account -->
<!Doctype html> 
    <html>
        <head>
            <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/static/styles.css"> 
            <title> Registration Form </title> 
        </head>

        <body>
            <form>
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" required> 
            <br>
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname" required> 
            <br>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required> 
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required> 
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required> 
            <br>
            <input type="submit" value="Register">
            <a href="login.html"> Login </a>
            </form>
            
        </body>
    </html>